<div class="portfolio">
	<ul>
		{% for photoshoot in contents.photoshoots limit:12 %}
			<li{{ ' class="no-mg-right"' | modulo: forloop.index0, 6 }}>
				<a href="/portfolio/{{ photoshoot._permalink }}" class="small">
					<img src="{{ photoshoot.photos.first.image.url | resize:'135x135#' }}" alt="{{ photoshoot.title }}">
					<div class="hover small">
						<p class="small">{{ photoshoot.brand }} {{ photoshoot.type }}<br><span>{{ photoshoot.client.name }}</span></p>
						<span class="icon small"></span>
					</div>
				</a>
			</li>
		{% endfor %}
	</ul>
</div>	