<div id="latest-shoots">
	<ul>
		{% for photoshoot in contents.photoshoots %}
			<li>
				<a href="#">
					<img src="{{ photoshoot.photos.first.image.url | resize:'135x135#' }}" alt="{{ photoshoot.title }}">
					<div class="hover">
						<p>{{ photoshoot.brand }} {{ photoshoot.type }}<br><span>{{ photoshoot.client.name }}</span></p>
						<span class="icon"></span>
					</div>
				</a>
			</li>
		{% endfor %}
	</ul>
</div>	